[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[packages]
geopandas = "*"
pysal = "*"
shapely = "*"
networkx = "*"
requests = "*"
pyproj = "*"

[requires]
python_version = "3.5"
